body {
    background-color: white;
}

th, td, tr{ color:white;}

p{
    text-align:center;
    color:black;
}

.centerBtn{
    align-items: center;
    text-align:center;
}
h1 {
    text-align: center;
    padding: 1em;

}

h2 {
    color: hsl(218, 49%, 40%);
    text-align:center;
}

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{ 
    position: relative;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: white;
    font-size:18px;
    letter-spacing: 0.5px;
    padding: 1em;
}

nav{
    width: 70vw;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    color: white;
    
}

a:after{
    content: "";
    position: absolute;
    background-color: hsl(218, 49%, 40%);;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a:hover:after{
    width: 100%;
}
.topnav {
    background-color: #333;
}
.new {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 16px;
}
.title{
    background-color: white;
    border-style: none
}

textarea {
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #edf6f9;
    font-size: 16px;
    resize: none;
  }

  td img{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
