<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>

<body>

    <div class="topnav">
        <nav>
            <a href="{{url_for('index') }}">Home</a>
            <a href="{{ url_for('get_notes') }}">My Tasks</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            <a href="{{ url_for('account') }} ">Profile</a>
        </nav>
    </div>

    <form action="{{ url_for('delete_account')}}" method="post">
        <input type="submit" value="Delete Account">
    </form>

    <form action="{{ url_for('change_mode')}}" method="post">
        <input type="submit" value="Change Color Scheme">
    </form>

    <h1>Welcome to Your Profile...</h1>
    <h2>Name: {{user}}</h2>
    <h3>Email: {{email}}</h3>

</body>

</html>
